.git
.github
.editorconfig
.prettierrc
.prettierignore
.env
.env.docker
node_modules
vendor
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
tests
phpunit.xml
pint.json
*.md
!CHANGELOG.md
docker-compose.yml
docker-compose.*.yml
Dockerfile
.dockerignore
systems_design
public/hot
